<?xml version="1.0" encoding="utf-8"?>
<!--android工程中最重要的问题，描述应用的基本特性并定义其每个组件。-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yangzijiang.activitytest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 接收开机启动完成的广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- http://blog.csdn.net/think_soft/article/details/7557101 AndroidManifest.xml文件详解（application） -->
    <application
        android:name="com.example.yangzijiang.app.MatelineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="This is First Activity" />
        <activity android:name=".SecondActivity">

            <!-- 配置Intent-filter，可以指定当前活动能够响应的action和category -->
            <intent-filter>

                <!-- action指定当前活动可以响应android.intent.action.ACTION_START123这个action -->
                <action android:name="android.intent.action.ACTION_START123" />
                <!-- DEFAULT为默认的category -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- MY_CATEGORY为自定义的category -->
                <category android:name="android.intent.category.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.yangzijiang.broadcast.BroadcastActivity" />
        <activity android:name="com.example.mylibrary.ProcessPhoenix" />
        <activity android:name=".SaveDataToFileActivity" />
        <activity android:name="com.example.yangzijiang.db.DatabaseTestActivity" />
        <activity android:name="com.example.yangzijiang.widget.TextViewActivity">

            <!-- &lt;!&ndash; 创建Activity时，选中Launcher Activity，则会自动增加以下两行；一个工程中不能同时有两个Launcher Activity &ndash;&gt; -->
            <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->


            <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->

        </activity>
        、
        <activity android:name="com.example.yangzijiang.widget.ButtonActivity" />
        <activity android:name="com.example.yangzijiang.widget.EditTextActivity" />
        <activity android:name="com.example.yangzijiang.widget.LinearLayoutActivity" />
        <activity android:name=".FileActivity" />
        <activity android:name="com.example.yangzijiang.notification.NotificationActivity" />
        <activity android:name="com.example.yangzijiang.notification.HandleNotificationActivity" />

        <service
            android:name="com.example.yangzijiang.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.example.yangzijiang.file.SharedPreferencesActivity" />
        <activity android:name="com.example.yangzijiang.service.SubThreadUpateUIActivity" />
        <activity android:name=".LogUtilTestActivity" />
        <activity android:name="com.example.yangzijiang.webview.WebviewActivity" />
        <activity android:name="com.example.yangzijiang.webview.HTTPURLConnectionActivity" />
        <activity android:name="com.example.yangzijiang.service.MyServiceActivity" />
        <activity android:name="com.example.yangzijiang.contentprovider.DialRuntimeActivity" />
        <activity android:name="com.example.yangzijiang.app.RestartAppActivity">

            <!-- <category android:name="android.intent.category.DEFAULT" /> -->

        </activity>
        <activity android:name="com.example.yangzijiang.widget.SpinnerActivity" />
        <activity android:name="com.example.yangzijiang.widget.LinearLayoutLayoutWeightActivity" />
        <activity android:name="com.example.yangzijiang.widget.RelativeLayoutActivity" />
        <activity android:name="com.example.yangzijiang.widget.IncludeLayoutActivity" />
        <activity android:name="com.example.yangzijiang.widget.CustomViewActivity" />
        <activity android:name="com.example.yangzijiang.widget.MenuActivity" />
        <activity android:name=".ExplicitIntentActivity" />

        <!-- 静态注册开机启动广播接收器 -->
        <receiver
            android:name="com.example.yangzijiang.broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.yangzijiang.broadcast.MBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.yangzijiang.broadcast.MBroadcast" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.yangzijiang.broadcast.SendNormalBroadcastActivity" />
        <activity android:name="com.example.yangzijiang.broadcast.LocalBroadcastActivity" />
        <activity android:name="com.example.yangzijiang.widget.ListViewUseArraysActivity" />
        <!-- LAUNCHER Activity设置android:enabled="false"，该应用直接不能编译 -->
        <activity android:name="com.example.yangzijiang.encode.Base64Activity" />
        <activity
            android:name="com.example.yangzijiang.webview.UrlActivity"
            android:label="@string/title_activity_url"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.yangzijiang.widget.ProgressDialogActivity"
            android:label="@string/title_activity_progress_dialog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.yangzijiang.fragment.simplefragment.SimpleFragmentActivity" />
        <activity android:name="com.example.yangzijiang.fragment.simplefragment.LayoutLarge"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity">
            <!-- android:parentActivityName=".MainActivity"设置返回按钮，默认无返回按钮 -->
        </activity>

    </application>

</manifest>